<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [15]:
import pymysql
import pandas as pd

<h2>Set up a connection and create a cursor object</h2>

In [3]:
db = pymysql.connect(host = "localhost",
                     user= "root",
                     password = "root" ,
                     database="hotels_schema")
cursor = db.cursor()

<h2>Execute a query and get the results</h2>

In [4]:
cursor.execute('show tables;')
cursor.fetchall()

(('guests',), ('hotels',), ('reservation',), ('rooms',))

In [5]:
query = """
SELECT hotels.hotel_name, hotels.city FROM hotels ;
"""
cursor.execute(query)
cursor.fetchall()

(('Meridian', 'Tel Aviv'),
 ('Meridian', 'Tveria'),
 ('King David', 'Jerusalem'),
 ('Hilton', 'Jerusalem'),
 ('Herods', 'Eilat'),
 ('Hof Yam', 'Haifa'),
 ('Ha Tsuk', 'Haifa'),
 ('Ha Nesiha', 'Eilat'),
 ('King David', 'Tveria'))

In [6]:
query = """
SELECT reservation.id, reservation.hotel_code, hotels.hotel_name, hotels.city 
FROM reservation INNER JOIN hotels ON hotels.hotel_code = reservation.hotel_code ;
"""
cursor.execute(query)
cursor.fetchall()

(('00000001-0', 6, 'Hof Yam', 'Haifa'),
 ('00000001-0', 5, 'Herods', 'Eilat'),
 ('00000002-0', 4, 'Hilton', 'Jerusalem'),
 ('00000002-0', 5, 'Herods', 'Eilat'),
 ('04352244-4', 3, 'King David', 'Jerusalem'),
 ('06112343-6', 2, 'Meridian', 'Tveria'),
 ('06112343-6', 1, 'Meridian', 'Tel Aviv'),
 ('12345678-0', 8, 'Ha Nesiha', 'Eilat'),
 ('87654321-0', 8, 'Ha Nesiha', 'Eilat'),
 ('04256372-0', 8, 'Ha Nesiha', 'Eilat'),
 ('04256372-0', 8, 'Ha Nesiha', 'Eilat'),
 ('02637482-0', 8, 'Ha Nesiha', 'Eilat'))

In [7]:
query = """
SELECT reservation.id, reservation.hotel_code, hotels.hotel_name, hotels.city 
FROM reservation INNER JOIN hotels ON hotels.hotel_code = reservation.hotel_code 
WHERE hotels.hotel_name = "Hof Yam";
"""
cursor.execute(query)
cursor.fetchall()

(('00000001-0', 6, 'Hof Yam', 'Haifa'),)

In [10]:
query = """
INSERT INTO hotels VALUES (10, 'Queen Shva', 'Eilat', 'Galgal 55', 5, '08-7325544', 340);
"""
cursor.execute(query)
cursor.fetchall()

()

In [11]:
query = """
SELECT hotels.hotel_name, city FROM hotels ;
"""
cursor.execute(query)
cursor.fetchall()

(('Meridian', 'Tel Aviv'),
 ('Meridian', 'Tveria'),
 ('King David', 'Jerusalem'),
 ('Hilton', 'Jerusalem'),
 ('Herods', 'Eilat'),
 ('Hof Yam', 'Haifa'),
 ('Ha Tsuk', 'Haifa'),
 ('Ha Nesiha', 'Eilat'),
 ('King David', 'Tveria'),
 ('Queen Shva', 'Eilat'))

In [14]:
# commits the changes to the db
db.commit()

In [16]:
## reading from a database into pandas dataframe

query = """
SELECT * FROM hotels ;
"""
df = pd.read_sql(query, db)

In [17]:
df

,hotel_code,hotel_name,city,address,hotel_rank,phone,number_of_rooms
0,1,Meridian,Tel Aviv,Shinkin 24,3,03-6527384,230
1,2,Meridian,Tveria,Kineret 22,5,04-7369944,320
2,3,King David,Jerusalem,Kineret 22,5,02-7435334,200
3,4,Hilton,Jerusalem,Kineret 22,4,02-4566324,180
4,5,Herods,Eilat,Dolphin 14,4,09-7333245,190
5,6,Hof Yam,Haifa,Kasam 39,5,04-7344545,150
6,7,Ha Tsuk,Haifa,Lohem 17,3,04-7345678,110
7,8,Ha Nesiha,Eilat,Suf 4,5,09-6543543,170
8,9,King David,Tveria,Kineret 55,5,04-7445544,270
9,10,Queen Shva,Eilat,Galgal 55,5,08-7325544,340